/* Import de la font Syne depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body {
  font-family: 'Syne', sans-serif; /*police*/
}

/*header*/

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.HeaderContenaire {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
 }

 .menuNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  align-items: center;
}

.header {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width: 400px;
  min-width: 150px;
}

/*.commandepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DC9F96;
  color: white;
  height: 80px;
  width: 236px;
}

.LienCommande {
  background-color: #DC9F96;
  color: white;
}*/

.menu-item-477 {
  margin-right: 0px;
  padding: 25px 35px;
  background: #DC9F96;
  order: 2;
}

.menu-item-477 a {
  color: #FFFFFF;
}

.menu-item-477:hover {
  background: #C02E44;
}

.menu-item-14 {
  padding: 25px 0px;
}

nav ul .adminmenu {
  order: 1;
  margin-top: 6%;
}

/*Fin Header */


/*Footer*/

.footer {
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
    min-width: 115px;
  
  }

/*Fin du footer*/


* {
  margin: 0;
  padding: 0;
}

.courbure { /*Courbure 1*/
  height:40px;
  width:100%;
  background: #ECE2DA;
  border-radius: 0 0 80% 80%;
  box-shadow: 0 10px 0 #E3D9D0;
}

.courbure2  { /*Courbure 2*/
  height:40px;
  width:100%;
  background: #ECE2DA;
  border-radius: 0 0 90% 90%;
 }


 /*Formulaire Nous rencontrer*/

.formulaireNousRencontrer { /*Formulaire nous rencontrer*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formulaireCF7 { /*Bouton formulaire nous rencontrer*/
  font-size: 20px;
  color: #000;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 8px;
  margin: 15px 0 8px 0;
}

.formulaireCF72 { /*Bouton formulaire nous rencontrer*/
  font-size: 20px;
  color: #000;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 240px;
  border: none;
  border-radius: 8px;
  margin: 15px 0 8px 0;
}


.ContenaireFormulaireCF7 { /*Ce que contient le formulaire*/
  display: flex;
  flex-direction: column;
  gap: 20%;
  margin-left: 10%;
}

.wpcf7-submit { /*Bouton formulaire nous rencontrer*/
  background: #DC9F96;
  color: white;
 }
 
 #wpcf7-f21-p8-o1 .wpcf7-submit { /*Bouton formulaire nous rencontrer*/
  width: 80%;
  height: 50px;
  font-size: 20px;
  border-radius: 3px;
  border: 0;
  margin-left: 10%;
 }

 /*.bouttonCommander { /*Formulaire nous rencontrer
  height: 50px;
  width: 90px;
  border-radius: 5px;
  align-items: center;
  background-color: #DC9F96;
  color: white;
}*/

/*Fin formulaire nous rencontrer*/

/* Formulaire commander */

 .directionRowForm { /*formulaire commander*/
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-left: 22%;
 }

 .PaddingueTopformulaireCommander { /*formulaire commander*/
  padding-top: 30px;
 }

.textdeCommande { /*formulaire commander*/
  font-size: 38px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
}

.CouleurVert { /*Page commande*/
  background: #3B8E46;
 }


.separatorHorizontal { /*formulaire commander*/
  border: none;
  border-top: 1px solid white;
  width: 60%;
  margin-left: 20%;
  height: 50px;
}

.separatorVertical { /*formulaire commander*/
  border: none;
  border-left: 1px solid white;
  height: 70%;
}

.directionColumnLeft { /*formulaire commander*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-right: 3%;
  margin: 0;
 }

.directionColumnRight { /*formulaire commander*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 5%;
  margin-left: 2%;
 }

 .formulaire { /*formulaire commander*/
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 12%;
 }

.saisiedecommande { /*Formulaire commander*/
  width: 100px;
  height: 10px;
  color : white;
  font-size: 20px;
  border-radius: 20% 0 0  20%;
  border: none;
}

#wpcf7-f145-p12-o1 .wpcf7-text { /*formulaire commander*/
  width: 100%;
  height: 50px;
  color : black;
  font-size: 20px;
  border-radius: 2%;
  border: none;
}


#wpcf7-f145-p12-o1 .wpcf7-submit { /*formulaire commander*/
  width: 130%;
  height: 60px;
  color : white;
  font-size: 20px;
  border-radius: 5%;
  border: none;
  margin-left: 125%;
}

.TextCommande { /*Page commande*/
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  margin-left: 19%;
}

/*Fin formulaire commander*/

/* Page commande */

/*.grille {   /*Page commande
  max-width: 1400px;
  width: 71%;
  height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  grid-gap: 42px;
  margin-left: 16%;
}*/

/*.grid-item { /*Page commande
  width: 200px;
  height: auto;
  background: #3B8E46;
}*/

/*.TailleImage { /*Page commande
  width : 200px;
  height: 150px;
}*/

/*.QuantitedeCommande { /*Page commande
  width: 55px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 20% 0 0  20%;
  border: none;
}*/

/*.Boutonokk { /*Page commande
  font-size: 20px;
  font-weight: bolder;
  color: #FFFFFF;
  text-align: center;
}*/

/*.CouleurRose { /*Page commande
  background-color: #DC9F96;
  width: 50px;
  border-radius: 0 20% 20% 0;
 }*/

 /*.directionRoww { /*Page commande
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 }*/

 /*.directionColumn2 { /*Page commande
  display: flex;
  flex-direction: column;
}*/

/*.separatorHorizontal2 { /*Page commande
  border: none;
  border-top: 2px solid white;
  width: 100%;
}*/

.SaisieCommande { /*Formulaire commande*/
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
}

 /*.directionRow { /*Page commande
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3%;
 }*/

/*.paddingue { /*Page commande
  padding-top: 50px;
}*/

/*.paddingTop { /*Page commande + Formulaire commande
  padding-top: 70px;
}*/

/*.paddingTop2 { /*Page commande
  padding-top: 20px;
}*/

/*.paddingueBottom { /*Formulaire commande
  padding-bottom: 50px;
}/*

/*button { /*Boutton commande ok
  background-color: #DC9F96;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 19px;
  height: 80px;
}*/

/*Media Querie*/

/*Formulaire Commande*/

	@media (max-width: 1230px) {

			.ContenaireFormulaireCF7 { 
			  margin-left: 3%;
			}

			#wpcf7-f145-p12-o1 .wpcf7-text {  
				width: 100%;
			}

      #wpcf7-f145-p12-o1 .wpcf7-submit { 
        margin-left: 100%;
        
      }

      .grille { 
        width: 100%;
        margin-left: 2%;
        display: grid;
        align-content: center;
        margin-top: -3%;

     }

	  }

    @media (max-width: 1100px) {

			.ContenaireFormulaireCF7 { 
			  margin-left: 12%;
			}

			#wpcf7-f145-p12-o1 .wpcf7-text {  
				width: 80%;
			}

      #wpcf7-f145-p12-o1 .wpcf7-submit { 
        margin-left: 60%;
        
      }

      .separatorVertical { 
        margin-left: -6%;
      }

      .grille { 
        width: 130%;
        margin-left: -12%;
        display: grid;
        align-content: center;
        margin-top: -3%;

     }

	  }

  @media (max-width: 974px) {

    .grille { 
      width: 118%;
      margin-left: -10%;
      display: grid;
      align-content: center;
      margin-top: -3%;

   }

   .ContenaireFormulaireCF7 { 
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;
		}

    .formulaire {
      display: flex;
      flex-direction: column;
     }

		#wpcf7-f145-p12-o1 .wpcf7-text {
		  width: 90%;
		}

		#wpcf7-f145-p12-o1 .wpcf7-submit { 
		  margin-left: 40px;
      margin-bottom: 200px;

		}

		.directionColumnLeft { 
		  gap: 1px;
		  padding-right: 0%;
		  margin: 0;
		 }

		.directionColumnRight { 
		  gap: 10px;
		  padding-left: 0%;
		  margin-left: 0%;
		  margin-top: 10%;
		 }

		.separatorVertical { 
		  border: none;
		}

		 .directionRowForm { 
		  justify-content: start;
		  gap: 0;
		 }

 }

/* header */
  @media (max-width: 825px) {
    

    .HeaderContenaire {
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;
		  margin: 0;
		  padding-top: 10px;
		}

		.menuNav {
		  display: flex;
		  flex-direction: column;
		  gap: 0px;
		  margin-left: 0px;
		  align-items: flex-start;
		}

 }

  @media (max-width: 530px) {

	  .formulaireCF7, /*Formulaire nous rencontrer*/
	  .formulaireCF72 {
	    width: 80%;
	  }

	  #wpcf7-f21-p8-o1 .wpcf7-form { 
	    margin-left: 90px ;
	  }

	  #wpcf7-f21-p8-o1 .wpcf7-submit { 
	    margin-left: 20%;
	  }

    #wpcf7-f145-p12-o1 .wpcf7-submit { 
		  margin-left: -10px;

		}

  }

  @media (max-width: 250px) {

	   .formulaireCF7,
	   .formulaireCF72 {
	     width: 70%;
	   }
		 
	   .SaisieCommande, /*Formulaire commande*/
	   .TextCommande { /*Page commande*/
		   font-size: 20px;
		 }

	   .textdeCommande { /*Page commande*/
	     font-size: 15px;
	   }

	   .saisiedecommande { /*Formulaire commande*/
	     width: 50px;
	     font-size: 15px;
	   }

     #wpcf7-f145-p12-o1 .wpcf7-submit { 
		  margin-left: -35px;

		}

  }


   


